<!DOCTYPE html>
<html>
  <head>
    <title>PerpetuallyLost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    
    <%= yield %>
    
    <%- if Rails.env.development? || Rails.env.test? -%> 
      <%= javascript_tag do %>
        window.railsEnv = '<%= Rails.env %>'
      <%- end -%>
    <%- end -%>
    
    <%= javascript_pack_tag 'index' %>

  </body>
</html>
