<!DOCTYPE html>
<html>
  <head>
    <title>PerpetuallyLost</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body class="has-navbar-fixed-top">
    <nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item logo" href="/">
          <img src="/images/logo.png">
        </a>
        <a class="navbar-item logo" href="/">
          <img src="/images/logo-name.png">
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-size-4">
              Galleries
            </a>

            <div class="navbar-dropdown">
              <a class="navbar-item is-size-4" href="/costa-rica">
                Costa Rica
              </a>
              <a class="navbar-item is-size-4" href="/national-parks">
                National Parks
              </a>
              <a class="navbar-item is-size-4" href="/northeast">
                Northeast
              </a>
            </div>
          </div>

          <a class="navbar-item is-size-4">
            Perpetually Lost Shop
          </a>

          <a class="navbar-item is-size-4">
            Contact
          </a>

        </div>
      </div>
    </nav>
    
    <%= yield %>

    <footer class="has-text-centered footer">
      <h4 class="is-size-4">&copy; Perpetually Lost Photography</h4>
    </footer>
    
    <%= javascript_include_tag 'application' %> 
  
  <%- if Rails.env.development? || Rails.env.test? -%> 
    <%= javascript_tag do %>
      window.railsEnv = '<%= Rails.env %>'
    <%- end -%>
  <%- end -%>
  <%= javascript_pack_tag 'application' %>
  
  <%= yield :extra_footer %>

  </body>
</html>
